<ul id="nav">
  <li class="{% if "/" == page.url %}active{% endif %}">
    <a href="/" class="btn">About</a></li>
  <li class="{% if "/program.html" == page.url %}active{% endif %}">
	  <a href="/program" class="btn">Program</a></li>
	<li class="{% if "/registration.html" == page.url %}active{% endif %}">
	  <a href="/registration" class="btn">Registration</a></li>
	<li class="{% if "/venue.html" == page.url%}active{% endif %}">
	  <a href="/venue" class="btn">Venue</a></li>
	<li class="{% if "/accommodation.html" == page.url %}active{% endif %}">
	  <a href="/accommodation" class="btn">Accommodation</a></li>
	<li class="{% if "/organization.html" == page.url %}active{% endif %}">
	  <a href="/organization" class="btn">Organization</a></li>
      </ul>
