<ul id="nav">
  <li class="{% if "/" == page.url %}active{% endif %}">
    <a href="/website/" class="btn">About</a></li>
  <li class="{% if "/program.html" == page.url %}active{% endif %}">
	  <a href="/website/program" class="btn">Program</a></li>
	<li class="{% if "/registration.html" == page.url %}active{% endif %}">
	  <a href="/website/registration" class="btn">Registration</a></li>
	<li class="{% if "/venue.html" == page.url%}active{% endif %}">
	  <a href="/website/venue" class="btn">Venue</a></li>
	<li class="{% if "/accommodation.html" == page.url %}active{% endif %}">
	  <a href="/website/accommodation" class="btn">Accommodation</a></li>
	<li class="{% if "/organization.html" == page.url %}active{% endif %}">
	  <a href="/website/organization" class="btn">Organization</a></li>
      </ul>
